
<h2>Mis Amigos</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>


